.header{
    background:#3b5998;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    height: 80px;
    float: left;
    width: 100%;
    
    
}
.page{
    padding: 0%;
    margin: 0%;
}
#one
{
    font-family: tahoma, verdana, arial, sans-serif;
    color: white;
    font-size: 38px;
    margin-left: 20%;

}
.two{
    /* padding-top: 10px; */
    float: left;
    width: 50%;
    /* background: red; */
}
.email{
    float: left;
    
    /* background: lightblue; */
    width: 25%;
}
.password{
   
    /* background: green; */
    width: 25%;
    float: left;
    
    margin-left: 20px;
   

}
#word{
    font-size: small;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
    
}
.login{
    
   
    /* background: yellow; */
    width: 50%;
    float: left;
    
    
}
#mail-phone{
    font-size: small;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
     /* padding-bottom: 50px; */
 }
#mailphone{
    margin-bottom: 52px; 
}
#button{
    margin-top: 42px;
    background: #3b5998;
    color: white;
}
/* body */
.mainface{
    background: linear-gradient(white, grey);
    padding: 0%;
    margin: 0%;
    float: left;
    float: right;
    
}
.mainface2{
    
}
.main-left
{
    width: 50%;
    /* background: red; */
    float: left;
    /* background: blue; */
}
#connect{
    width: 100%;
}
.mainright{
    width: 50%;
    float: left;
    /* background: red; */
}
.leftcontent{
    margin-left: 10%;
}
#lastname{
    margin-left: 15px;
}
.select1,.select2,.select3{
    float: left;
    
}
  
.selections{
    width: 100%;
    float: left;
}
#select1,#select2,#select3{
    width: 60px;
    
}
#select2,#select3{
    margin-left: 20px;
}
#firstname{
    width: 33%;
    padding: 10px;
    border-radius: 5px;
    
}
#lastname{
    width: 25%;
    border-radius: 5px;
    padding: 10px;
}
#input2{
    width: 33%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}
#input3{
    width: 33%;
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}
.selectgender1,.selectgender2{
    float: left;
    margin-top: 15px;
}
#createaccount{
    float: left;
    margin-top: 12px;
    background-color: green;
    width: 20%;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.select{
    float: left;
    
}
.lorem{
    float: left;
    margin-top: 15px;
}
.selectbirth{
    margin-top: 15px;
}
#footer{
    
    float: right;
}
.down{
    margin-top: 49.8%;
}
